---
layout: default
title: Player Stats
description: Player Stats

category: achievement
players:
- CoolV1994

---

{%- assign imgDir = "/assets/img" | prepend: site.baseurl -%}

{% for category in site.data.stats %}
<pre>
Cat ID: {{ category[0] }}
Cat Data: {{ category[1] }}
</pre>
<br><br><br>

<div class="container">

  <div class="column column-main">
    <span class="title">
      <a href="{{ site.baseurl }}/"><img src='{{ imgDir }}/logo.png'></a>
      <b>{{ category.name }}</b>
    </span>
    <br>
{% unless category[0] == "stat" %}
    <span>
      <img src="{{ imgDir }}/cat/total.png" class="img">
      Total:
    </span>
{% endunless %}
{% for section in category[1].sections %}
    <hr>
    <span>
      <img src="{{ imgDir }}/{{ category.iconDir }}/{{ section[0] }}.png" class="img">
      {{ section }}
    </span>
{% endfor %}
  </div>

{% for player in page.players %}
  {% if site.data.players[player] %}
    {%- assign playerUUID = player -%}
    {%- assign playerName = site.data.players[player] -%}
  {% else %}
    {% for pid in site.data.players %}
      {% if pid[1] == player %}
        {%- assign playerName = player -%}
        {%- assign playerUUID = pid[0] -%}
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class='column column-{{ forloop.index }}'>
    <span class='title'>
      <img src="https://minotar.net/helm/{{ playerUUID }}/32.png" alt="{{ playerName }}">
      <b>{{ playerName }}</b>
    </span>
    <br>
  {%- assign playerStats = site.data[playerUUID] -%}
    <pre>{{ playerStats }}</pre><br><br>
  {% for section in category.sections %}
    {%- assign statID = category | append: '.' | append: section -%}
    <pre>[{{ statID }}] {{ section }}</pre>
    <hr>
    <span data-stat="{{ statID }}">{{ playerStats[statID] }}</span>
  {% endfor %}
  </div>
{% endfor %}

</div>
{% endfor %}
