<div data-player="[[ player.id ]]" class="column col-player">
   <div class="row row-title">
      <div class="column col-icon">
<img src="[[ player.icon ]]" alt="Player Icon">
      </div>
      <div class="column col-name">
[[ player.name ]]
      </div>
   </div>
   <div class="row row-label">
      <div class="column col-level">
Level
      </div>
   <div class="column col-rank">
Rank
      </div>
   </div>
{% for stat in site.data.stats %}
   <div data-stat="{{ stat.id }}" class="row row-stat">
      <div class="column col-level">
[[ player.level[stat] ]]
      </div>
     <div class="column col-rank">
[[ player.rank[stat] ]]
      </div>
   </div>
{% endfor %}
</div>
