<div data-player="[[ player.id ]]" class="column col-stats">
   <div class="row row-title">
      <div class="column col-icon">
<!-- Icon -->
      </div>
      <div class="column col-name">
<!-- Title -->
      </div>
   </div>
   <div class="row row-label">
      <div class="column col-icon">
<!-- Icon -->
      </div>
      <div class="column col-name">
Stat
      </div>
   </div>
{% for stat in site.data.stats %}
   <div data-stat="{{ stat.id }}" class="row row-stat">
      <div class="column col-icon">
<img src="{{ stat.icon }}" alt=" Stat Icon">
      </div>
      <div class="column col-name">
{{ stat.name }}
      </div>
   </div>
{% endfor %}
</div>
