<div data-player="[[ player.id ]]" class="column col-player">
   <div class="row row-title">
      <div class="column col-icon">
<img src="[[ player.icon ]]" alt="Player">
      </div>
      <div class="column col-name">
<h1>[[ player.name ]]</h1>
      </div>
   </div>
   <div class="row row-label">
      <div class="column col-level">
<b>Level</b>
      </div>
   <div class="column col-rank">
<b>Rank</b>
      </div>
   </div>
{% for stat in site.data.stats %}
   <div class="row row-stat" data-stat="{{ stat.id }}">
      <div class="column col-level">
[[ player.level ]]
      </div>
     <div class="column col-rank">
[[ player.rank ]]
      </div>
   </div>
{% endfor %}
</div>
