* {
  box-sizing: border-box;
}

.row {
  --col: 1;
}

.column {
  float: left;
  width: calc(100% / var(--col));
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .column  {
    width: calc(100% / (var(--col) * 0.5 ) );
  }
}

@media screen and (max-width: 600px) {
  .column  {
    width: calc(100% / (var(--col) * 0.25 ) );
  }
}
